<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="index-container">
    <h1>¡Hola!</h1>
    <p>¿Quieres crear tu propia lista de tareas?</p>
    <a href="/login" class="button">Inicia sesión</a>
    <a href="/signup" class="button">Regístrate</a>
  </div>
</body>
</html>
