<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Registro</h1>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="Nombre usuario">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="password" name="confirmPassword" placeholder="Confirma Contraseña">
        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="login.html">Inicia sesión aquí</a></p>
  </div>
</body>
</html>